@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .animate-scroll{
        animation: scroll 30s linear  infinite;
    }
    @keyframes scroll {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-350%);
        }
    }
    .animate-scroll2{
        animation: scroll2 30s linear  infinite;
    }
    @keyframes scroll2 {
        from{
            transform: translateX(350%);
        }
        to{
            transform: translateX(0);
        }
    }
    .animate-large-scroll2{
        animation: large-scroll2 30s linear  infinite;
    }
    @keyframes large-scroll2 {
        from{
            transform: translateX(175%);
        }
        to{
            transform: translateX(0);
        }
    }
    .animate-large-scroll{
        animation: large-scroll 30s linear  infinite;
    }
    @keyframes large-scroll {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-175%);
        }
    }
    .stop:hover > div{
        animation-play-state: paused;
    }
}